@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}

.card-overlay, .card-img, .hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #262626;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url(../images/bg.jpeg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
}

.header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffff;
}

.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
  color: #d3ab55;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .logo {
    font-size: 40px;
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 650px) {
  .logo {
    font-size: 25px;
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-width: 1px;
  }
}

.main-name {
  font-size: 50px;
  font-size: Sahel, Tahoma;
  color: #bbb;
}

@media only screen and (max-width: 1000px) {
  .main-name {
    font-size: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .main-name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .main-name {
    font-size: 15px;
  }
}

@media only screen and (max-width: 335px) {
  .main-name {
    font-size: 13px;
  }
}

.sub-name {
  font-size: 25px;
  font-size: Sahel, Tahoma;
  color: #bbb;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .sub-name {
    font-size: 15px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 340px) {
  .sub-name {
    font-size: 12px;
  }
}

.main-heading {
  font-size: 80px;
  font-family: Nastaliq, Tahoma;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1600px) {
  .main-heading {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  .main-heading {
    font-size: 60px;
  }
}

.sub-heading {
  font-size: 40px;
  font-weight: 300;
  font-family: Sahel, Tahoma;
  color: #bbb;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (max-width: 1600px) {
  .sub-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .sub-heading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .sub-heading {
    font-size: 18px;
  }
}

.main-btn {
  width: 250px;
  height: 60px;
  font-family: Sahel, Tahoma;
  color: #d3ab55;
  font-weight: 300;
  font-size: 25px;
  background-color: transparent;
  border: 1px solid #d3ab55;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 30px;
}

.main-btn:hover {
  background-color: #d3ab55;
  color: #262626;
}

@media only screen and (max-width: 1300px) {
  .main-btn {
    width: 170px;
    height: 40px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  .main-btn {
    width: 130px;
    height: 25px;
    font-size: 12px;
  }
}

.about-us {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  .about-us {
    height: 120vh;
  }
}

@media only screen and (max-width: 300px) {
  .about-us {
    height: 160vh;
  }
}

.about-us-left {
  width: 40%;
}

.about-us-left img {
  width: 100%;
  opacity: 0.6;
}

@media only screen and (max-width: 800px) {
  .about-us-left {
    display: none;
  }
}

.about-us-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

@media only screen and (max-width: 1300px) {
  .about-us-right {
    padding: 0 50px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1300px) {
  .about-us-right {
    width: 100%;
  }
}

.about-us .stars {
  margin: 30px 0;
}

@media only screen and (max-width: 1000px) {
  .about-us .stars {
    margin: 15px 0;
  }
}

.about-us .star {
  font-size: 15px;
  color: #d3ab55;
  margin-left: 3px;
}

@media only screen and (max-width: 1000px) {
  .about-us .star {
    font-size: 10px;
  }
}

.about-us .description {
  font-family: Nastaliq, Tahoma;
  font-size: 25px;
  color: #bbb;
  direction: rtl;
  text-align: right;
}

.about-us .description::first-letter {
  padding-right: 17px;
}

@media only screen and (max-width: 1600px) {
  .about-us .description {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000) {
  .about-us .description {
    font-size: 14px;
  }
}

.about-us .main-heading {
  font-size: 60px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1600px) {
  .about-us .main-heading {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  .about-us .main-heading {
    font-size: 60px;
  }
}

.about-us .sub-heading {
  font-size: 40px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1600px) {
  .about-us .sub-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .about-us .sub-heading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .about-us .sub-heading {
    font-size: 18px;
  }
}

.gallery .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 33%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

.card:hover .card-overlay {
  left: 0;
}

.card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  color: #ffff;
  background-color: rgba(211, 171, 85, 0.5);
  z-index: 10;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.card-overlay-heading {
  font-weight: 300;
  letter-spacing: 5px;
  font-family: Sahel, Tahoma;
  font-size: 50px;
}

@media only screen and (max-width: 1000px) {
  .card-overlay-heading {
    font-size: 35px;
  }
}

@media only screen and (max-width: 650px) {
  .card-overlay-heading {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .card-overlay-heading {
    display: none;
  }
}

.card-overlay-paragraph {
  font-family: Sahel, Tahoma;
  font-size: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .card-overlay-paragraph {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .card-overlay-paragraph {
    display: none;
  }
}

.card-overlay-btn {
  width: 150px;
  height: 40px;
  font-family: Sahel, Tahoma;
  font-size: 20px;
  color: #d3ab55;
  background-color: #ffff;
  border: 1px solid #d3ab55;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .card-overlay-btn {
    font-size: 15px;
    width: 100px;
    height: 35px;
  }
}

@media only screen and (max-width: 650px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 90px;
  }
}

@media only screen and (max-width: 500px) {
  .card-overlay-btn {
    height: 20px;
  }
}

.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.footer {
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media only screen and (max-width: 500px) {
  .footer .social-media {
    width: 200px;
  }
}

.footer .social-media-item {
  list-style: none;
}

.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #bbb;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

.footer .social-media-link:hover {
  color: #d3ab55;
}

@media only screen and (max-width: 1000px) {
  .footer .social-media-link {
    font-size: 30px;
  }
}

.footer-copyright-paragraph {
  font-family: Sahel, Tahoma;
  font-size: 20px;
  color: #bbb;
  direction: rtl;
}

@media only screen and (max-width: 700px) {
  .footer-copyright-paragraph {
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .footer-copyright-paragraph {
    font-size: 12px;
  }
}

.navbar {
  position: relative;
  z-index: 200;
}

.navbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

@media only screen and (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}

.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}

@media only screen and (max-width: 1300px) {
  .navbar-navigation-left .left-img {
    width: 55%;
  }
}

.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}

.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}

.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}

.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  right: -50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

@media only screen and (max-width: 800px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
  }
}

.navbar-navigation .nav-list-item {
  list-style: none;
}

.navbar-navigation .nav-list-link {
  font-family: Sahel, Tahoma;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 5px;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 800px) {
  .navbar-navigation .nav-list-link {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
  letter-spacing: 3px;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}

@media only screen and (max-width: 800px) {
  .hamburger-menu {
    width: 35px;
    height: 35px;
  }
}

.hamburger-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media only screen and (max-width: 800px) {
  .hamburger-menu .menu-line {
    height: 1.5px;
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}
/*# sourceMappingURL=main.css.map */