// base code like extend and variable and so on

$color-dark: #262626;
$color-black: #000;
$color-yellow: #d3ab55;

@mixin flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-dark;
}
