// main layout
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
    url(../images/bg.jpeg) center no-repeat;
  background-size: cover;

  .brand {
    display: flex;
    align-items: center;
    @include centering(15%);
    color: #ffff;
  }

  &-banner {
    @include centering(50%);
    text-align: center;
  }
}

.logo {
  @include flex-layout;
  font-size: 70px;
  color: $color-yellow;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  border: 3px solid $color-yellow;
  border-radius: 50%;
}

.main-name {
  font-size: 50px;
  font-size: $font-sahel;
  color: $color-secondary;
  @include text-style;
}

.sub-name {
  font-size: 18px;
  font-size: $font-sahel;
  color: $color-secondary;
  text-align: center;
  @include text-style;
}

.main-heading {
  font-size: 80px;
  font-family: $font-nastaliq;
  font-weight: 300;
  color: $color-yellow;
  margin-bottom: 40px;
}
.sub-heading {
  font-size: 40px;
  font-weight: 300;
  font-family: $font-sahel;
  color: $color-secondary;
  margin-bottom: 30px;
}
.main-btn {
  width: 250px;
  height: 60px;
  font-family: $font-sahel;
  color: $color-yellow;
  font-weight: 300;
  font-size: 25px;
  background-color: transparent;
  border: 1px solid $color-yellow;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;

  &:hover {
    background-color: $color-yellow;
    color: $color-dark;
  }
}

// end header style
.about-us {
  height: 90vh;
  display: flex;
  align-items: center;

  &-left {
    width: 40%;

    img {
      width: 100%;
      opacity: 0.6;
    }
  }
  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stars {
    margin: 30px 0;
  }
  .star {
    font-size: 15px;
    color: $color-yellow;
    margin-left: 3px;
  }

  .description {
    font-family: $font-nastaliq;
    font-size: 25px;
    color: $color-secondary;
    margin: 0 80px;
    direction: rtl;
    text-align: right;

    &::first-letter {
      padding-right: 17px;
    }
  }

  .main-heading {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .sub-heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
